.container {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template: 1fr/2fr 10fr;
    height: 100vh;
}

.sidebar {
    grid-area: "sidebar";
    min-width: 200px;
}
.content {
    grid-area: "content";
    background-color: black;
}
